@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "blueprint/grid";
$blueprint-container-size: 900px;
$main-header-color: #eb7926;
$container-border-color: #b0d551;
$font-color: #737373;
$form-bg-color: #252724;
$form-border-color: #333;
$dark-font-color: darken($font-color, 20%);
$light-font-color: lighten($font-color, 10%);
$button-bg-color: darken($form-bg-color, 2%);

body {
  background: #111 url(/images/tile.png) repeat;
  #flash_message {
    @include border-radius;
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    background-color: $button-bg-color;
    border: 3px solid $dark-font-color;
    text-align: center;
  }
  footer#footer {
    float: left;
    width: 100%;
    height: 164px;
    background: url(/images/foot.png) repeat-x;
  }
  #container {
    @include container;
    color: $font-color;
    border-top: 5px solid $container-border-color;
    header#header {
      padding: 65px 0 45px 0;
      height: 46px;
      #logo {
        float: left;
        width: 200px;
        height: 46px;
        background: url(/images/header.png) top left no-repeat;
        margin-right: 300px;
      }
      #social {
        a {
          display: block;
          float: left;
          line-height: 46px;
          height: 46px;
          font-size: 0.9em;
          color: $dark-font-color;
          text-decoration: none;
          &:hover { color: $container-border-color; }
        }
        .feeds {
          float: left;
          background: url(/images/header.png) -200px 0 no-repeat;
          height: 46px;
          width: 300px;
        }
      }
    }
    section#content {
      padding: 20px;
    }
    h3.contact { 
      width: 79px;
      height: 19px;
      background: url(/images/contact.png) top right no-repeat;
      margin-bottom: 24px;
      text-indent: -5000px;
    }
  }
  form#mail-form {
    overflow: auto;
    label {
      display: block;
      font-size: 0.9em;
      padding-left: 3px;
      padding-bottom: 8px;
      color: $dark-font-color;
    }
    .button {
      padding: 10px 0 20px 720px;
      float: left;
      input[type=submit] {
        cursor: pointer;
        width: 92px;
        height: 30px;
        line-height: 30px;
        font-size: 1em;
        background: url(/images/btn92x30.png) top left no-repeat;
        border: none;
        &:hover {
        }
      }
    }
    input[type=text], textarea {
      @include border-radius;
      background-color: $form-bg-color;
      color: $dark-font-color;
      border: 1px solid $form-border-color;
      font-size: 1em;
      &:hover { border-color: $dark-font-color; }
    }
    textarea#content {
      margin: 0px;
      padding: 10px;
      width: 500px;
      height: 91px;
      background-color: $form-bg-color; //url(/images/icons.png) top left no-repeat;
    }
    input[type=text] {
      width: 206px;
      height: 25px;
      line-height: 25px;
      padding: 5px 5px 5px 40px;
      &#name {
        background: $form-bg-color url(/images/icons.png) 0 0 no-repeat;
      }
      &#email {
        background: $form-bg-color url(/images/icons.png) 0 -35px no-repeat;
      }
    }
    .fields {
      float: left;
      &.left {
        width: 250px;
        float: left;
        margin-right: 50px;
      }
      &.right {
        float: left;
        width: $blueprint-container-size - 300px - 40px;
      }
    }
  }
}
