<form action="/mail" method="post" id="mail-form">
  <div class="fields">
    <label for="name">Name</label><br />
    <input type="text" id="name" name="name" />
  </div>
  <div class="fields">
    <label for="email">Email</label><br />
    <input type="text" id="email" name="email" />
  </div>
  <div class="fields">
    <label for="content">Content</label><br />
    <textarea id="content" name="content"></textarea>
  </div>
  <p><input type="submit" value="Submit"></p>
</form>

