<!--> 
<p style="color:red;font-size:0.9em;line-height:20px;margin-bottom:10px;">
  审核备案中 （根据中华人民共和国网络监管法，每个网站都需要备案，需要大概2个星期）
</p> 
<-->

<h3 class="contact">联系我们</h3>
<form action="/mail" method="post" id="mail-form">
  <div class="fields left">
    <label for="name">姓名</label>
    <input type="text" id="name" name="name" /><br /><br />
    <label for="email">邮箱</label>
    <input type="text" id="email" name="email" />
  </div>
  <div class="fields right">
    <label for="content">内容</label>
    <textarea id="content" name="content"></textarea>
  </div>
  <div class="button"><input id="submit" type="submit" value=""></div>
</form>

