/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 15, ../../scss/screen.scss */
body {
  background: url(/images/tile.png) repeat;
}
/* line 17, ../../scss/screen.scss */
body #flash_message {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 700px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  background-color: #20221f;
  border: 3px solid #404040;
  text-align: center;
}
/* line 27, ../../scss/screen.scss */
body footer#footer {
  float: left;
  width: 100%;
  height: 164px;
  background: url(/images/foot.png) repeat-x;
}
/* line 33, ../../scss/screen.scss */
body #container {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #737373;
  border-top: 5px solid #b0d551;
}
/* line 37, ../../scss/screen.scss */
body #container header#header {
  padding: 65px 0 45px 0;
  height: 46px;
}
/* line 40, ../../scss/screen.scss */
body #container header#header #logo {
  float: left;
  width: 200px;
  height: 46px;
  background: url(/images/header.png) top left no-repeat;
  margin-right: 300px;
}
/* line 48, ../../scss/screen.scss */
body #container header#header #social a {
  display: block;
  float: left;
  line-height: 46px;
  height: 46px;
  font-size: 0.9em;
  color: #404040;
  text-decoration: none;
}
/* line 56, ../../scss/screen.scss */
body #container header#header #social a:hover {
  color: #b0d551;
}
/* line 58, ../../scss/screen.scss */
body #container header#header #social .feeds {
  float: left;
  background: url(/images/header.png) -200px 0 no-repeat;
  height: 46px;
  width: 300px;
}
/* line 66, ../../scss/screen.scss */
body #container section#content {
  padding: 20px;
}
/* line 69, ../../scss/screen.scss */
body #container h3.contact {
  width: 79px;
  height: 19px;
  background: url(/images/contact.png) top right no-repeat;
  margin-bottom: 24px;
  text-indent: -5000px;
}
/* line 77, ../../scss/screen.scss */
body form#mail-form {
  overflow: auto;
}
/* line 79, ../../scss/screen.scss */
body form#mail-form label {
  display: block;
  font-size: 0.9em;
  padding-left: 3px;
  padding-bottom: 8px;
  color: #404040;
}
/* line 86, ../../scss/screen.scss */
body form#mail-form p.button {
  padding: 10px 0 20px 720px;
  float: left;
}
/* line 89, ../../scss/screen.scss */
body form#mail-form p.button input[type=submit] {
  cursor: pointer;
  width: 92px;
  height: 30px;
  line-height: 30px;
  text-indent: -5000px;
  font-size: 1em;
  background: url(/images/btn92x30.png) top left no-repeat;
  border: none;
}
/* line 102, ../../scss/screen.scss */
body form#mail-form input[type=text], body form#mail-form textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #252724;
  color: #404040;
  border: 1px solid #333333;
  font-size: 1em;
}
/* line 109, ../../scss/screen.scss */
body form#mail-form textarea#content {
  margin: 0px;
  padding: 10px;
  width: 500px;
  height: 91px;
  background-color: #252724;
}
/* line 116, ../../scss/screen.scss */
body form#mail-form input[type=text] {
  width: 206px;
  height: 25px;
  padding: 5px 5px 5px 40px;
}
/* line 120, ../../scss/screen.scss */
body form#mail-form input[type=text]#name {
  background: #252724 url(/images/icons.png) 0 0 no-repeat;
}
/* line 123, ../../scss/screen.scss */
body form#mail-form input[type=text]#email {
  background: #252724 url(/images/icons.png) 0 -35px no-repeat;
}
/* line 127, ../../scss/screen.scss */
body form#mail-form .fields {
  float: left;
}
/* line 129, ../../scss/screen.scss */
body form#mail-form .fields.left {
  width: 250px;
  float: left;
  margin-right: 50px;
}
/* line 134, ../../scss/screen.scss */
body form#mail-form .fields.right {
  float: left;
  width: 560px;
}
